@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.articles {
  background: #d9e0df;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.articlescontent {
  width: 100%;
  padding: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articleitems {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  padding: 10px;
}

.article {
  margin: 10px;
  background-color: #919998;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  color: #d9e0df;
}

.textarea {
  width: 100%;
  margin-top: 5px !important;
}

.contribution {
  margin-bottom: 20px;
}

.content {
  margin-top: 5px !important;
  width: 100%;
  min-height: 80px;
}

input[id="submitchange"] {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  background-color: #d9e0df;
  color: #919998;
  border: solid 2px #919998;
  border-radius: 7px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

input[id="submitchange"]:hover {
  border: solid 2px #d9e0df;
  color: #d9e0df;
  background-color: transparent;
}

#deletebutton {
  margin: 20px 0;
  width: 80%;
  height: 35px;
}

.link {
  color: black;
}

.link:hover {
  color: #d9e0df;
}

button {
  margin-top: 10px;
  background-color: #d9e0df;
  color: #919998;
  border: solid 2px #919998;
  border-radius: 7px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

button:hover {
  border: solid 2px #d9e0df;
  color: #d9e0df;
  background-color: transparent;
}

#inputdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchbybutton {
  background-color: #636e6c;
  color: #d9e0df;
  border: solid 2px #d9e0df;
  border-radius: 7px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  height: 30px;
}

#searchbybutton:hover {
  border: solid 2px #636e6c;
  color: #636e6c;
  background-color: transparent;
}

#searchbutton {
  background-color: #636e6c;
  color: #d9e0df;
  border: solid 2px #d9e0df;
  border-radius: 7px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  height: 30px;
  width: 165.83px;
}

#searchbutton:hover {
  border: solid 2px #636e6c;
  color: #636e6c;
  background-color: transparent;
}

#searchbyinput {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  height: 30px;
  min-width: 200px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .articleitems {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .article {
    margin: 20px;
  }
}

@media (max-width: 800px) {
  .articleitems {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .article {
    margin: 20px;
  }
  .textarea {
    margin-top: 5px !important;
  }
  .contribution {
    margin-bottom: 10px;
  }
  #inputdiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=Articles.css.map */