@import "../../Styles/variables.scss";
.articles {
  background: $lighter1;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.articlescontent {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articleitems {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  padding: 10px;
}
.article {
  margin: 10px;
  background-color: $dark2;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  @include form(100%);
}
.textarea {
  width: 100%;
  margin-top: 5px !important;
}
.contribution {
  margin-bottom: 20px;
}
.content {
  margin-top: 5px !important;
  width: 100%;
  min-height: 80px;
}

input[id="submitchange"] {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  @include button($lighter1, $dark2);
}

input[id="submitchange"]:hover {
  @include hoverbutton($lighter1);
}

#deletebutton {
  margin: 20px 0;
  width: 80%;
  height: 35px;
}
.link {
  color: black;
}

.link:hover {
  color: $lighter1;
}
button {
  margin-top: 10px;
  @include button($lighter1, $dark2);
}

button:hover {
  @include hoverbutton($lighter1);
}
#inputdiv {
  display: flex;
  align-items: center;
}
#searchbybutton {
  @include button($dark1, $lighter1);
  height: 30px;
}

#searchbybutton:hover {
  @include hoverbutton($dark1);
}

#searchbutton {
  @include button($dark1, $lighter1);
  height: 30px;
  width: 165.83px;
}
#searchbutton:hover {
  @include hoverbutton($dark1);
}

#searchbyinput {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  height: 30px;
  min-width: 200px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .articleitems {
    grid-template-columns: repeat(2, 1fr);
  }
  .article {
    margin: 20px;
  }
}

@media (max-width: 800px) {
  .articleitems {
    grid-template-columns: 1fr;
  }
  .article {
    margin: 20px;
  }

  .textarea {
    margin-top: 5px !important;
  }
  .contribution {
    margin-bottom: 10px;
  }
  #inputdiv {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
}
