@import "../../Styles/variables.scss";
.contributionbox {
  width: 100%;
  height: 85vh;
  display: flex;
  background-color: $lighter1;
  justify-content: center;
}
.form {
  @include form(80%);
}
.textarea {
  width: 100%;
  margin-top: 30px;
}
.content {
  margin-top: 20px;
  width: 100%;
  height: 30%;
}

input[id="submitarticle"] {
  margin-top: 20px;
  width: 30%;
  height: 40px;
}

@media (max-width: 800px) {
  input[type="submit"] {
    width: 100%;
    height: 8%;
  }
  .textarea {
    margin-top: 20px;
  }
  .content {
    margin-top: 20px;
  }
}
