@import "../../Styles/variables.scss";

//Standard loading spinner using white and the second darkest colour of the page, placed in the middle
.loader:before {
  content: "";
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  //position closer to top and left
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 6px solid $dark2;
  border-top-color: white;
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
