$dark1: rgb(99, 110, 108);
$lighter1: rgb(217, 224, 223);

.articles {
  background: $lighter1;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.articlescontent {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articleitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
}
.article {
  margin: 50px;
}

@media (max-width: 1200px) {
  .articleitems {
    grid-template-columns: repeat(2, 1fr);
  }
  .article {
    margin: 20px;
  }
}

@media (max-width: 800px) {
  .articleitems {
    grid-template-columns: 1fr;
  }
  .article {
    margin: 20px;
  }
}
