.ownArticleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ownArticleDiv {
  margin: 20px;
  border: 2px solid rgb(35, 39, 38);
  padding: 10px;
}
textarea {
  padding: 10px;
  min-height: max-content;
}
textarea[class="content"] {
  min-height: 100px;
  padding: 10px;
}
