@import "../../Styles/variables.scss";
.accountscontainer {
  position: relative;
  height: 85vh;

  margin: 0 auto;
}

#sydneyimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($lighter1, 0.3);
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .accountcontent {
    margin: 0 1.5rem;
    min-height: 40%;
    background: rgba($lighter1, 0.7);
    backdrop-filter: blur(2px);
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    line-height: 200%;
    #accountbutton {
      margin-top: 20px;
      @include button($dark2, $lighter1);
    }
    #accountbutton:hover {
      @include hoverbutton($dark1);
    }
  }
}
@media screen and (max-width: 1000px) {
  .accountcontent {
    justify-content: left;
    // height: 60%;
    margin: 0 90px;
    /* h4 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.8rem;
      }*/
  }
}
