@import "../../Styles/variables.scss";
//Horizontal menu
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  background-color: $dark1;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 8px solid $lighter1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 20px;
  background-color: $dark1;
}
//Contains name and logo
.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  background-color: $dark1;
}

.navbar-icon {
  margin-right: 0.5rem;
}

//Contains links
.nav-menu {
  display: flex;
  align-items: center;
  // justify-content: center;
  list-style: none;
  text-align: center;
  // justify-content: end;
  background-color: $dark1;
}

.nav-item {
  color: #fff;
  border-bottom: 2px solid transparent;
  min-height: max-content;
}

//White line when the mouse is over the element (not the last one, which is the button)
.nav-item:not(:last-child):hover {
  border-bottom: 2px solid #fff;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
//Menu icon class for mobile menu
.fa-bars {
  color: #fff;
}

//No menu icon over 850px
.menu-icon {
  display: none;
}
.navbarbutton {
  @include button($lighter1, $dark1);
}

.navbarbutton:hover {
  @include hoverbutton($lighter1);
}
//Scaled down navbar under 1050px
@media screen and (max-width: 1050px) {
  .navbar-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
  }
  .nav-links {
    padding: 0.3rem 0.3rem;
  }
  nav-menu {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: $lighter1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark1;
  }

  .nav-item:first-child {
    margin-top: 50px;
  }
  //No white line on mobile screen at hover, colour of links white
  .nav-item:hover {
    border: none;
    width: 100%;
  }

  .nav-links:hover {
    color: #fff;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    font-size: 1.7rem;
  }

  .menu-icon {
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  //Navbar (menu) button colours change for mobile menu because of background
  .navbarbutton {
    @include button($dark1, $lighter1);
  }

  .navbarbutton:hover {
    @include hoverbutton($dark1);
  }

  .nav-item:not(:last-child):hover {
    border-bottom: none;
  }
}
